annotated-doc
annotated-types
anyio
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
fastapi
h11
httpcore
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
packaging
preshed
pydantic
pydantic_core
Pygments
python-multipart
requests
rich
setuptools
shellingham
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
tqdm
typer
typing-inspection
typing_extensions
urllib3
uvicorn
wasabi
weasel
wrapt